
/*
blue #003050
cyan #7096a0
grey #b0b7a7
pale #fae3ad
red #da2525
*/
.App{
    min-height:100vh;
    background : #dac38d;
    cursor:default;
}
.jumbotron{    
    background : #003050;
}
.jumbotron h1{
    color:#b0b7a7;
    font-size: 2.5rem;
}
.jumbotron h6{
    color: #7096a0;
    font-size: 0.75rem;
}
.footer{
    background:#b0b7a7;
    color:#003050;
}
a, a:hover{
    text-decoration:none;
    color:#003050;

}
.jumbotron .card{
    background-color: rgba(0,0,0,0.1);
    border : 3px solid #7096a0;
}
.jumbotron .card-title{
    color: #b0b7a7;
    font-size: 2.25rem;
    margin : 0px;
    
}
.jumbotron strong{
    background-color: rgba(0,0,0,0);
    color: #7096a0;
}
.dashboard{
    min-height: 80vh;
}
.pool{
    background-color: #003050;
    color: #7096a0;
    box-shadow: 5px 5px 5px rgba(0, 30, 50, 0.5);
}
.addpool{
    background-color: rgba(0, 30, 50, 0.5);
    color: #7096a0;
    box-shadow: 5px 5px 5px #003050;
}
.course{
    background-color: #7096a0;
    color: #003050;
    
}
.section{
    background-color: #b0b7a7;
    color: #003050;
    font-size: 0.8rem; 
}
.sectiontitle{
    font-size: 1rem;
}
.instructors{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.addpool .section:hover{
    background-color: #fae3ad;
}