
/*
blue #003050
cyan #7096a0
grey #b0b7a7
pale #fae3ad
red #da2525
*/
.App{
    min-height:100vh;
    background : #dac38d;
    cursor:default;
}
.jumbotron{    
    background : #003050;
}
.jumbotron h1{
    color:#b0b7a7;
    font-size: 2.5rem;
}
.jumbotron h6{
    color: #7096a0;
    font-size: 0.75rem;
}
.footer{
    background:#b0b7a7;
    color:#003050;
}
a, a:hover{
    text-decoration:none;
    color:#003050;

}
.jumbotron .card{
    background-color: #002040;
    border : 3px solid #7096a0;
}
.jumbotron .card-title{
    color: #b0b7a7;
    font-size: 2.25rem;
    margin : 0px;
    
}
.jumbotron strong{
    color: #7096a0;
}
.dashboard{
    min-height: 80vh;
    overflow:visible;
}
.pool{
    background-color: #003050;
    color: #7096a0;
    box-shadow: 5px 5px 5px rgba(0, 30, 50, 0.5);
}
.nosinput, .nosinput:active{
    width:100%;
    color:#7096a0 !important;
    background-color: #003050 !important;
    border : 2px solid #7096a0 !important;
    font-weight: bold !important;
    box-shadow: none !important;
}
.nosinput option, option:active, option:hover{
    text-align: center;
    color:#7096a0 !important;
    background-color: #002040 !important;
    border : 1px solid #7096a0 !important;
    border-radius: 3px;
}
.course{
    background-color: #7096a0;
    color: #003050;    
}
.section{
    background-color: #b0b7a7;
    color: #003050;
    font-size: 0.8rem; 
}
.sectiontitle{
    font-size: 1rem;
}
.instructors{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.addpool{
    background-color: rgba(0, 30, 50, 0.5);
    color: #7096a0;
    box-shadow: 5px 5px 5px #003050;
}
.addpool .form-control{
    background-color: #dac38d;
    color:#003050;
    font-style: italic;
    border: 1px solid #003050;
}
.addpool .form-control:active{
    box-shadow: none !important;
}
.btn{
    color: #dac38d !important;
    background-color:#003050 !important;
    border:1px solid #003050;
}
.btn:hover, .btn:active{
    box-shadow: none !important;
}