
/*
blue #003050
cyan #7096a0
grey #b0b7a7
pale #fae3ad
red #da2525
*/
.App{
    min-height:100vh;
    background : #fae3ad;
    overflow: scroll;
}
.jumbotron{    
    background : #003050;
}
.jumbotron h1{
    color:#b0b7a7;
    font-size: 2.5rem;
}
.jumbotron h6{
    color: #7096a0;
    font-size: 0.75rem;
}
.footer{
    background:#b0b7a7;
    color:#003050;
    position:absolute;
    bottom:0;
}
a, a:hover{
    text-decoration:none;
    color:#003050;

}
.jumbotron .card{
    background-color: rgba(0,0,0,0.1);
    border : 3px solid #7096a0;        
}
.jumbotron .card-title{
    color: #b0b7a7;
    font-size: 2.5rem;
    margin: 0px;
    padding:0px;
}
.jumbotron strong{
    background-color: rgba(0,0,0,0);
    color: #7096a0;
    
    font-size: 1rem;
}